$small-font-size: 1.1rem;
$base-font-size: 1.3rem;
$base-font-weight: 400;

$medium-font-size: 1.5rem;
$medium-font-weight: 500;
$large-font-weight: 700;
$large-font-size: 2rem;
$xlarge-font-weight: 900;
