$color-primary: #df53f3;
$color-white: #fff;
$color-black: #000;
$color-accent: #2e2e2e;
$color-complement: #3a3a3a;

$color-background: #e5e5e5;
$color-hover-light: #df53f4;
$color-hover-dark: #d345e9;
